[Desktop Entry]
Name=Remmindor
Comment=The simple reminder application
Exec=~/Documents/Programming/Remmindor/Remmindor
Terminal=false
Type=Application

StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true